<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TKH CRUD</title>
</head>
<body>

    <h1>Enter User</h1>

    <form action="/users" method="POST">
        <input type="text" id="username" placeholder="Username" name="username" />
        <input type="text" id="password" placeholder="Password" name="password" />
        <button type="submit">Submit User</button>
    </form>
    <button id="update-button">Replace password</button>
    <button id="delete-button">Delete User</button>
      <ul class="users">
        <ul class="users">
            <% if (body.users && body.users.length > 0) { %>
                <% for(var i=0; i < body.users.length; i++) { %>
                    <li class="user">
                        <!-- Output name from the iterated user object -->
                        <span>
                            <%= body.users[i].username %>
                        </span>:
                        <!-- Output quote from the iterated user object -->
                        <span>
                            <%= body.users[i].password %>
                        </span>
                    </li>
                <% } %>
            <% } else { %>
                <li>No users available</li>
            <% } %>
          </ul>

      <!-- why it needs /public path -->
    <script src="/main.js"></script>
</body>
</html>